.App {
  text-align: center;

}
.mainDiv{
  width: 100%;
  padding-top: 50px;
}

.navigationBar{
  display: flex;
  justify-content: center;
  width: 900px;
  margin: auto;
  justify-content: space-around;
}
button{
  background-color: #061AF8;
  color: white;
  width: 150px;
}
select{
  width: 300px;
  padding-left: 25px;
  padding-right: 15px;

}
input{
  width: 55px;
  padding-left: 15px;
}
input, select{
  background-color: #EFEFEF;
}
button, input, select{
  border-radius: 5px;
  border-style: none;
  font-size: 25px;
}